@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bordered-b {
        @apply border-b border-white/20;
    }
    .bordered-r {
        @apply border-r border-white/20;
    }
    .bordered-l {
        @apply border-l border-white/20;
    }
    .bordered-all {
        @apply border border-white/20;
    }
}

body {
  font-family: "Lexend", monospace;
}


.text-shadow-white {
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.25);
}

.text-shadow-black {
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  padding: 5px;
  width: 10px;
  background-color: rgba(32, 32, 32, 0.562);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
}

@keyframes fade-in {
  from {
    opacity: 10%;
  }
  to {
    opacity: 50%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation-name: fade-in, rotate;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 5s;
}